[color]
        diff = auto
        status = auto
        branch = auto
[alias]
        co = checkout
        ci = commit
        #up = !(git pull || ((git stash && git pull --rebase >&2) | grep -v "No local changes to save" && git stash pop))
        up = !(git stash && git pull --rebase >&2) | grep -v \"No local changes to save\" && git stash pop
        u  = !git up
        re  = "!f() { git reset $1 && git checkout $1; }; f; f"
        #re  = "!f() { git reset $1; git checkout $1; git reset $1; git checkout $1; }; f"
        #re1  = "!f() { git reset $1; git checkout $1; }; f"
        ups = !(git fetch upstream && git merge upstream/master)
        upsm = !(git fetch upstream && git co upstream/master && git branch -D master && git checkout -b master)
        upd = !(git fetch && git merge origin/dev)
        du = !(git fetch upstream && git diff upstream/master)
        dd = !(git fetch && git diff origin/dev)
        dm = !(git diff master)
        st = status
        s = status
        sh = show
        d = diff
        b = branch
        f = fetch
        p = pull
        m = merge
        a = add
        cp = cherry-pick
	l = log
	lp = !git log -p
	th  = "!f() { git checkout --theirs $1; git add $1; }; f"
	lf  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
[core]
        editor = mcedit
[user]
        email = proller@github.com
        name = proller
[push]
        default = current
[credential]
	helper = cache --timeout=8640000
